div.cell-con  ainer{
	border: 1px solid red;
	heigh  : 20px;
	wid  h: 97%;

}
div.cell-lef  {
	floa  : lef  ;
	wid  h: 47.5%;
}
div.cell-righ  {
        floa  : righ  ;
	wid  h:47.5%;

}
div.cell{
       floa  : lef  ;
       padding-righ  :4px;
       padding-lef  :4px;
}

