body
{
  background-color:#000000;
  margin-left:auto;
  margin-right:auto;
  color:#aaaaaa;
  height: 100%;
}

div.tags
{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 10%;
}

div.thumbtag
{
  display:inline-block;
  margin:1px;
  padding: 1px;
  float:left;
  border:1px solid #aaaaaa;
  clear:both;
}

div.tagcloud
{
  position:absolute;
  width:200px;
  height:200px;
}

div.nav
{
  position: fixed;
  top: 10px;
  left: 10px;
  /*margin-left:auto;
  margin-right:auto;
  clear:both;*/
}

div.metanavprev
{
   position:fixed;
   bottom: 10px;
   left: 10px;
}

div.metanavnext
{
   position:fixed;
   bottom: 10px;
   right: 10px;
}

div.center
{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  clear:both;
}

div.thumb
{
  margin: 5px;
  padding: 5px;
  float: left;
  height: 200px;
  width: 200px;
  border:1px solid #aaaaaa;
  background-color:#111111;
}
div.thumb:hover
{
  background-color:#212121;
}
    
div.thumbimg
{
  height:180px;
  width:180px;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
}
div.thumblabel
{
  height:15px;
  text-align:center;
}

div.navButton
{
  float:left;
  border: 1px solid #aaaaaa;
  margin-left: 2px;
  margin-right: 2px;
  background-color:#111111;
}

div.navSplitter
{
  float:left;
  border-width: 0px;
  margin-left:2px;
  margin-right:2px;
}

img
{ 
  border-width: 0px;
}

a
{
  color:black;
  text-decoration:none;
}

a.baseNavigation
{
  color:white;
}
