div.navigation {
    overflow: hidden;
    background-color: #eee;
    font-size: 18px;
    color: #0275d8;
}

div.navigation div {
    float: left;
}

div.navigation div.split {
    float: right;
    margin: 16px 16px 16px 16px;
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}

div.navigation a {
    display: inline;
    padding: 8px;
    text-decoration: none;
}

div.navigation a:hover {
    color: #01447e;
}

div.navigation span.inactivenavigation {
    display: inline;
    color: #bbb;
    padding: 8px;
}