div.cell-container
{
	border: 1px solid red;
	height: 20px;
	width: 97%;
}

div.cell-left
{
	float: left;
	width: 47.5%;
}

div.cell-right
{
  float: right;
	width:47.5%;

}

div.cell
{
  float: left;
  padding-right:4px;
  padding-left:4px;
}

